#postadamav1 {border-bottom:1px solid #80BCA3;font-size:30px;line-height:30px;} #postadamav2 {font-size:10px;letter-spacing:0px;} #postadamav3 {color:#80BCA3;} #postadamav4 {font-family:calibri;line-height:1.4em;}
